<!DOCTYPE html>
<html>
<head>
  <title>Stevebuselfy</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js"></script>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</body>
</html>
